<!DOCTYPE html>
<html lang="en" ng-app="wings-site" ng-controller="indexController">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Create, join and manage new DAOs on WINGS: the place where DAOs Unicorns are born.">
  <meta name="keywords" content="crowdfunding DAO, ICO DAO, Ethereum DAO, RootStock DAO, Bitcoin DAO, Decentralized Autonomous Organization,
  decentralized autonomous corporation, decentralized organization, x-blockchain, cross-blockchain, smart contracts, WINGS DAO, WINGS, crowdfunding,
  decentralized crowdfunding, the dao, crypto-token crowdfunding, crypto crowdfunding, blockchain crowdfunding, ICO valuation,
  decentralized applications platform, WINGS platform, DAO platform, launch DAO, kickstart DAO, manage DAO, join DAO, create DAO">

  <title>WINGS DAO</title>

  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){
      z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
      $.src='//v2.zopim.com/?3y3mbSHi9YZf2QHsnVUTOODjNzWyovSP';z.t=+new Date;$.
          type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script>
  <!--End of Zopim Live Chat Script-->

  <link rel="shortcut icon" href="assets/images/favicon.ico" />
  <link rel="icon" type="image/png" href="assets/images/favicon.png" />

  <base href="/">

  <script src="dist/rev/production.min.js"></script>
  <script src="dist/rev/app.js"></script>
  <link rel="stylesheet" href="dist/rev/libs.css">
  <link rel="stylesheet" href="dist/rev/main.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div ng-show="loadTranslations" class="loader-block sample-show-hide">
  <span ng-show="loadTranslations" us-spinner="{radius:20, width:7,  lines: 17, length: 0}"></span>
</div>
<div class="main">
  <div class="top-menu__mobile top-menu__mobile-open" data-toggle="collapse" data-target="#navbar" aria-expanded="false" menu-open></div>
  <div class="collapse navbar-collapse main-menu" id="navbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="top-menu__ul-item"><a href="https://alpha.wings.ai/" target="_blank">{{'Alpha' | translate}}</a></li>
      <li class="top-menu__ul-item"><a href="" ng-click="openChat()">{{'Chat' | translate}}</a></li>
      <li class="top-menu__ul-item"><a href="https://blog.wings.ai" target="_blank">{{'Blog' | translate}}</a></li>
      <li class="top-menu__ul-item"><a href="https://wings.zendesk.com/hc/en-us" target="_blank">{{'FAQ' | translate}}</a></li>
      <li class="top-menu__ul-item"><a href="https://fly.wings.ai/" target="_blank">{{'Campaign cabinet' | translate}}</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="top">
      <div class="top-logo">
        <div class="top-logo-image"><img src="assets/images/logo.png" alt=""></div>
        <div class="top-logo-text">WINGS</div>
      </div>
      <div class="top-menu">
        <div class="top-menu_list">
          <ul>
            <li><a href="https://alpha.wings.ai/" target="_blank">{{'Alpha' | translate}}</a></li>
            <li><a href="" ng-click="openChat()">{{'Chat' | translate}}</a></li>
            <li><a href="https://medium.com/wings-ai" target="_blank">{{'Blog' | translate}}</a></li>
            <li><a href="https://wings.zendesk.com/hc/en-us" target="_blank">{{'FAQ' | translate}}</a></li>
            <li><a href="https://fly.wings.ai/" target="_blank">{{'Campaign cabinet' | translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="top-userbar">

        <div class="top-userbar_item top-userbar_language">
          <div class="select" dropdown-select="languages"
               dropdown-model="choosenLanguage"
               dropdown-onchange="changeLang(selected)">
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="top-menu__container fade">
    <div class="top-menu__block">
      <ul class="top-menu__ul">
        <li class="top-menu__ul-item"><a href="https://alpha.wings.ai/" target="_blank">{{'Alpha' | translate}}</a></li>
        <li class="top-menu__ul-item"><a href="" ng-click="openChat()">{{'Chat' | translate}}</a></li>
        <li class="top-menu__ul-item"><a href="https://medium.com/wings-ai" target="_blank">{{'Blog' | translate}}</a></li>
        <li class="top-menu__ul-item"><a href="https://wings.zendesk.com/hc/en-us" target="_blank">{{'FAQ' | translate}}</a></li>
        <li class="top-menu__ul-item"><a href="https://fly.wings.ai/" target="_blank">{{'Campaign cabinet' | translate}}</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="container">
    <div class="main-content">
      <div class="main-content-title">{{'The Blockchain Crowdfunding DAO' | translate}}</div>
      <div class="main-content-text">
        <p class="main-content-subtext">{{'A decentralized platform to create, join and manage projects' | translate}}</p>

          <!--https://www.youtube.com/watch?v=9wvov6zXi54-->

                <div class="main-video">
                        <div class="main-video_content" ng-show="!playingVideo" ng-click="playVideo()" ng-style="{'background': videoPlaceholder }">
                            <div class="main-video_button--light" ng-show="!playingVideo"></div>
                            <div class="main-video_button--blue" ng-show="!playingVideo"></div>
                        </div>
                        <div class="main-video_video" ng-if="playingVideo && !isChina && (mediaSM || mediaMD || mediaLG)">
                            <embed-video autoplay="1" href="{{ video }}" height="253" width="432"></embed-video>
                        </div>
                        <div class="main-video_video" ng-if="playingVideo && isChina && (mediaSM || mediaMD || mediaLG)">
                            <embed src='https://player.youku.com/player.php/sid/XMjUxNzYzNTQ3Mg==/v.swf' autoPlay="true" isAutoPlay="true" autoplay="true" allowFullScreen='true' quality='high'  height="253" width="432" align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
                        </div>

                  <div class="main-video_video--mobile flex-content flex-content-justify--center" ng-if="playingVideo && !isChina && mediaXS">
                    <embed-video autoplay="1" href="{{ video }}" width="290" height="170"></embed-video>
                  </div>
                  <div class="main-video_video--mobile flex-content flex-content-justify--center" ng-if="playingVideo && isChina && mediaXS">
                    <embed src='https://player.youku.com/player.php/sid/XMjUxNzYzNTQ3Mg==/v.swf' autoPlay="true" isAutoPlay="true" autoplay="true" allowFullScreen='true' quality='high'  height="170" width="290" align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
                  </div>
                </div>

        <div class="main-form">
          <div class="form">
            <form ng-submit="subscribe()">
              <input type="text" ng-model="email" class="form-text" placeholder="Email">
              <p class="form-error" ng-show="subscribeError">{{subscribeError}}</p>
              <input type="submit" ng-disabled="loading" class="form-button main-button" value="{{'Subscribe To Our Newsletter' | translate}}">
            </form>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="main-countdown">
  </div>
  <div class="main-down" ng-click="goTo('future')" ng-touch="goTo('future')"></div>
  <div class="main-figure"></div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="future" id="future">
  <div class="container">
    <div class="future-title title title--light">{{'PROJECT DAOS ARE THE FUTURE' | translate}}</div>
    <div class="future-tabs tabs" ng-tabslet>
      <ul class="tabs-nav">
        <li class="tabs-nav-item tabs-nav-item--1 active"><a href="#tab1">{{'DAO Member' | translate}}</a></li>
        <li class="tabs-nav-item tabs-nav-item--2"><a href="#tab2">{{'DAO Creator' | translate}}</a></li>
      </ul>
      <div class="future-content tabs-content tabs-content--1" id="tab1">
        <div class="future-item future-item--1 future-item--left">
          <div class="future-item-image"><img src="assets/images/future-1.png" alt=""></div>
          <div class="future-item-title">{{'Sharing The Rewards' | translate}}</div>
          <div class="future-item-text">{{'WINGS token holders can forecast on project proposals and can earn tokens from future campaigns.' | translate}}</div>
        </div>
        <div class="future-item future-item--2 future-item--right">
          <div class="future-item-image"><img src="assets/images/future-2.png" alt=""></div>
          <div class="future-item-title">{{'Security & Transparency' | translate}}</div>
          <div class="future-item-text">{{'DAO ownership tokens are secured by blockchain technologies and smart contracts. The control of the DAO remains in the hands of the owners. The core of the Wings platform is open source and the smart contracts, commits and advancement are visible on secure public ledgers such as Ethereum and Bitcoin.' | translate}}</div>
        </div>
        <div class="future-item future-item--3 future-item--left">
          <div class="future-item-image"><img src="assets/images/future-3.png" alt=""></div>
          <div class="future-item-title">{{'Establish a Trusted Community' | translate}}</div>
          <div class="future-item-text">{{'DAO owners are entitled to vote, according to their portion, on any new DAO submitted to the Wings platform. The decision which projects get listed are in the hands of the DAO community.' | translate}}</div>
        </div>
        <div class="future-item future-item--4 future-item--right future-item--last">
          <div class="future-item-image"><img src="assets/images/future-4.png" alt=""></div>
          <div class="future-item-title">{{'Easy Management By DAO Supporters' | translate}}</div>
          <div class="future-item-text">{{'Wings brings the power back to project supporters. All backed projects are accessible using Web applications and IM bots. Back a project, create a vote or write a review - all without writing one line of code.' | translate}}</div>
        </div>
      </div>
      <div class="future-content tabs-content tabs-content--2" id="tab2">
        <div class="future-item future-item--5 future-item--right">
          <div class="future-item-image"><img src="assets/images/future-6.png" alt=""></div>
          <div class="future-item-title">{{'Complete DAO Framework' | translate}}</div>
          <div class="future-item-text">{{'Wings provides a complete framework for DAOs formation, management and communications.' | translate}}</div>
        </div>
        <div class="future-item future-item--6 future-item--left">
          <div class="future-item-image"><img src="assets/images/future-7.png" alt=""></div>
          <div class="future-item-title">{{'Simple Set-up & Management' | translate}}</div>
          <div class="future-item-text">{{'With Wings, DAOs are up and running in no time. Wings IM Bots save time and resources by bringing full control of DAOs and DAO user interactions.' | translate}}</div>
        </div>
        <div class="future-item future-item--7 future-item--right">
          <div class="future-item-image"><img src="assets/images/future-9.png" alt=""></div>
          <div class="future-item-title">{{'Increasing Success Rates' | translate}}</div>
          <div class="future-item-text">{{'All DAO projects are subject to community review before being published thus gaining feedback and followers that can make for a successful DAO formation.' | translate}}</div>
        </div>
        <div class="future-item future-item--8 future-item--left future-item--last">
          <div class="future-item-image"><img src="assets/images/future-10.png" alt=""></div>
          <div class="future-item-title">{{'Transparency & Security' | translate}}</div>
          <div class="future-item-text">{{'DAOs combine the security of blockchain technology and the transparency of public-ledger smart contracts providing a new level of protection and insight into organizations.' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-chat class="chat" id="chat">
  <div class="container">
    <div class="chat-list" slick slides-to-show="1" slides-to-scroll="1" arrows="false" adaptiveHeight="true" dots="true"  infinite="true" as-nav-for=".features-list">
      <div class="chat-item chat-item--0">
        <div class="chat-item-left phone">
          <div class="chat-title">{{'Control DAOs With Chatbots' | translate}}</div>
          <div class="chat-text">{{'WINGS brings the power to supporters. All backed projects are accessible using the web applications and IM bots. Back a project, create a vote or make a forecast - all from the palm of your hand!' | translate}}</div>
          <div class="chat-button"><a href="" ng-click="goTo('features')">{{'Features' | translate}}</a></div>
        </div>
        <div class="chat-item-right">
          <div class="chat-item-dialog">
            <ul class="messages">
            </ul>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="chat-item chat-item--1">
        <div class="chat-item-left">
          <div class="chat-title">{{'Never Miss New DAO Crowdfunds' | translate}}</div>
          <div class="chat-text">{{'WINGS enables getting notifications from your chatbot and taking part in new crowdfunds without the fear of missing out!' | translate}}</div>
          <div class="chat-button"><a href="" ng-click="goTo('features')">{{'Features' | translate}}</a></div>
        </div>
        <div class="chat-item-right">
          <div class="chat-item-right-title">Conservative preference</div>
          <!--<div class="chat-item-lables">
            <div class="chat-item-label chat-item-label--1">Other <span>15%</span></div>
            <div class="chat-item-label chat-item-label--2">Eco-Solar <br> Panel <span>22%</span></div>
            <div class="chat-item-label chat-item-label--3">Space MicroSat <span>28%</span></div>
            <div class="chat-item-label chat-item-label--4">Edisson Electric <br> Bike <span>35%</span></div>
          </div>-->
        </div>
        <div class="clear"></div>
      </div>
      <div class="chat-item chat-item--4">
        <div class="chat-item-left">
          <div class="chat-title">{{'Crowdfunding Using with the WINGS Hivemind' | translate}}</div>
          <div class="chat-text">{{'Use WINGS DAO members to perform due diligence  and forecast the valuation of your DAO. Gain valuable feedback and engage a global community before crowdfunding.' | translate}}</div>
          <div class="chat-button"><a href="" ng-click="goTo('features')">{{'Features' | translate}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="platform">
  <div class="container">
    <div class="platform-title title title--light" id="features">{{'Platform Features' | translate}}</div>
    <div class="features-list" slick slides-to-show="1" slides-to-scroll="1" arrows="false" adaptive-height="true" dots="false" as-nav-for=".chat-list">
      <div class="platform-list">
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-1.png" alt=""></span><span class="platform-name-item">{{'Cross Blockchain EVM' | translate}}</span></div>
          <div class="platform-text">{{'WINGS platform supports both Ethereum and Rootstock smart contracts.' | translate}}</div>
        </div>
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-2.png" alt=""></span><span class="platform-name-item">{{'Chatbots Hub' | translate}}</span></div>
          <div class="platform-text">{{'Instant Messaging Bots can be used for better DAO control, communications and management.' | translate}}</div>
        </div>
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-3.png" alt=""></span><span class="platform-name-item">{{'Legal Framework' | translate}}</span></div>
          <div class="platform-text">{{'Our partners in the legal field have in-depth DAO comprehension and are ready to assist. Use this to your advantage.' | translate}}</div>
        </div>
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-4.png" alt=""></span><span class="platform-name-item">{{'Zero Knowledge' | translate}}</span></div>
          <div class="platform-text">{{'WINGS platform allows setting up a DAO proposal with no prior knowledge of smart contracts and blockchain.' | translate}}</div>
        </div>
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-5.png" alt=""></span><span class="platform-name-item">{{'DAO Forecaster Ratings' | translate}}</span></div>
          <div class="platform-text">{{'Increase your influence with the WINGS platform\'s forecast rating reputation system.' | translate}}</div>
        </div>
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon platform-icon--plus"><img src="assets/images/platform-6.png" alt=""></span><span class="platform-name-item">{{'Decentralized Collaboration' | translate}}</span></div>
          <div class="platform-text">{{'Find out what projects other DAO members forecast on and jump on the next train together!' | translate}}</div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="platform-list">
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-7.png" alt=""></span><span class="platform-name-item">{{'Blockchain Secured Accounts' | translate}}</span></div>
          <div class="platform-text">{{'WINGS uses blockchain accounts for forecasting and crypto deposits. Your money stays in your hands!' | translate}}</div>
        </div>
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-8.png" alt=""></span><span class="platform-name-item">{{'Automatic Forecasting' | translate}}</span></div>
          <div class="platform-text">{{'Set your preferences and follow other forecasters you collaboarate with to never miss a forecast.' | translate}}</div>
        </div>
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-9.png" alt=""></span><span class="platform-name-item">{{'Crowdfunding Notifications' | translate}}</span></div>
          <div class="platform-text">{{'WINGS will notify you of new DAOs to forecast on and when their crowdfunding is approved by the WINGS DAO.' | translate}}</div>
        </div>
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-10.png" alt=""></span><span class="platform-name-item">{{'Forecaster Rating System' | translate}}</span></div>
          <div class="platform-text">{{'Having a high rating can make you popular! The forecast rating system also allows you to track high rating popular users and see which DAOs they forecast favorably.' | translate}}</div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="platform-list">
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-10.png" alt=""></span><span class="platform-name-item">{{'Harness the Crowd' | translate}}</span></div>
          <div class="platform-text">{{'Crowdfunding is hard, and reaching 1000s of supporters around the globe is easy when your project has a favorable forecast from the WINGS DAO.' | translate}}</div>
        </div>
        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-11.png" alt=""></span><span class="platform-name-item">{{'Rewarding Adopter Engagement' | translate}}</span></div>
          <div class="platform-text">{{'WINGS provides systems to reward early adopters and champions of your project. After forecasting WINGS DAO member can get involved to support your project via our Bounty Dapp - proven to boost crowdfunding success!' | translate}}</div>
        </div>

        <div class="platform-item">
          <div class="platform-name"><span class="platform-icon"><img src="assets/images/platform-12.png" alt=""></span><span class="platform-name-item">{{'Due Diligence & Valuation' | translate}}</span></div>
          <div class="platform-text">{{'Leading WINGS forecasters get rewarded based on the accuracy of their forecasts giving project funders and project teams access to a financially-incented hive mind to produce accurate valuations.' | translate}}</div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="clear"></div>
<div class="info">
  <div class="container">
    <div class="info-list">
      <div class="info-item">
        <div class="info-item-icon"><img src="assets/images/how.png" alt=""></div>
        <div class="info-item-right">
          <div class="info-item-title">{{'How It Works' | translate}}</div>
          <div class="info-item-desc">{{'Check out how the Wings platform will work.' | translate}}</div>
          <div class="info-item-button"><a href="https://alpha.wings.ai" target="_blank">{{'Try the alpha' | translate}}</a></div>
        </div>
      </div>
      <div class="info-item" id="whitepaper">
        <div class="info-item-icon"><img src="assets/images/whitepapper.png" alt=""></div>
        <div class="info-item-right">
          <div class="info-item-title">{{'Whitepaper' | translate}}</div>
          <div class="info-item-desc">
            {{'Read the Wings whitepaper.' | translate}}
            <p>
              Versions:
              <a href="/docs/WINGS_Whitepaper_V1.1.2_en.pdf" target="_blank" style="color: #FFF;">ENG</a>
              <a href="/docs/WINGS_Whitepaper_V1.1.2_ru.pdf" target="_blank" style="color: #FFF;">RU</a>
              <a href="/docs/WINGS_Whitepaper_V1.1.2_zh.pdf" target="_blank" style="color: #FFF;">ZH</a>
              <a href="/docs/WINGS_Whitepaper_V1.1.2_es.pdf" target="_blank" style="color: #FFF;">ES</a>
              <a href="/docs/WINGS_Whitepaper_V1.1.2_pt.pdf" target="_blank" style="color: #FFF;">PT</a>
              <a href="/docs/WINGS_Whitepaper_V1.1.2_it.pdf" target="_blank" style="color: #FFF;">IT</a>
              <a href="/docs/WINGS_Whitepaper_V1.1.2_fr.pdf" target="_blank" style="color: #FFF;">FR</a>
            </p>
            <p>
              <a href="/docs/WINGS_Scientific.pdf" target="_blank">{{'Scientific WhitePaper' | translate}}</a>
            </p>
          </div>
          <div class="info-item-button" style="margin-top: 15px;"><a ng-href="{{whitepaper}}" target="_blank">{{'Read' | translate}}</a></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="team" id="team">
  <div class="container">
    <div class="title title--light">{{'Our Team' | translate}}</div>
    <div class="team-list">
      <div class="team-item" ng-repeat="m in team">
        <div class="team-item-image"><img ng-src="assets/images/team-{{m.pic}}.png" alt="{{m.name}}"></div>
        <div class="team-item-right">
          <div class="team-item-name">{{m.name}}</div>
          <div class="team-item-job">{{m.title}}</div>
        </div>
        <div class="clear"></div>
        <div class="team-item-desc">{{m.bio}}</div>
        <div class="team-item-social" ng-show="m.social && m.social.length > 0">
          <div ng-repeat="s in m.social" ng-class="{
                        'team-item-social-icon': true,
                        'team-item-social-icon--bc': s.name === 'btt',
                        'team-item-social-icon--in': s.name === 'in',
                        'team-item-social-icon--fb': s.name === 'fb',
                        'team-item-social-icon--tw': s.name === 'tw'
                        }">
            <a ng-href="{{s.link}}" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="partners">
    <div class="title title--light">{{'Our Partners And Sponsors' | translate}}</div>
    <div class="partners-list" slick slides-to-show=3 slides-to-scroll=3 arrows="true" dots="false" responsive="responsive.partnersResponsive">
      <div class="partners-item"><a href="https://www.bitmain.com/" target="_blank"><img src="assets/images/partners/bitmain.png" alt="Bitmain"></a></div>
      <div class="partners-item"><img src="assets/images/partners/fintech.png" alt="Fintech Blockchain Group"></div>
      <div class="partners-item"><a href="http://www.rsk.co/" target="_blank"><img src="assets/images/partners/rootstock-logo.png" alt="Rootstock"></a></div>
      <div class="partners-item"><a href="https://shapeshift.io/" target="_blank"><img src="assets/images/partners/shapeshift.png" alt="Shapeshift"></a></div>
      <div class="partners-item"><a href="https://airbitz.co/" target="_blank"><img src="assets/images/partners/airbitz.png" alt="Airbitz"></a></div>
    </div>
  </div>
</div>
<div class="press">
  <div class="container">
    <div class="title title--light">{{'Press about us' | translate}}</div>
    <div class="press-list" slick slides-to-show=3 slides-to-scroll=3 arrows="false" dots="true"  infinite="true" responsive="responsive.pressResponsive">
      <div class="press-item" ng-repeat="p in press">
        <div class="press-text">{{p.text}}</div>
        <div class="press-logo"><a ng-href="{{p.link}}" target="_blank"><img ng-src="{{p.logo}}" alt="{{p.name}}"></a></div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="footer-menu">
      <ul>
        <li><a href="https://bitcointalk.org/index.php?topic=1477055.0" target="_blank">BTT {{'Forum' | translate}}</a></li>
        <li><a href="" ng-click="openChat()">{{'Chat' | translate}}</a></li>
        <li><a ng-href="{{whitepaper}}" target="_blank">{{'Whitepaper' | translate}}</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <div class="footer-column-item footer-column--left">
        <div class="footer-column-title">{{'Community Resources' | translate}}</div>
        <p><a href="https://bitcointalk.org/index.php?topic=1477055.0" target="_blank">Bitcointalk</a></p>
        <p><a href="https://reddit.com/r/WingsDAO/" target="_blank">Reddit</a></p>
        <p><a href="https://www.facebook.com/wingsdao" target="_blank">Facebook</a></p>
        <p><a href="https://twitter.com/wingsplatform" target="_blank">Twitter</a></p>
        <p><a href="https://telegram.me/wingschat" target="_blank">Telegram</a></p>
        <p><a href="https://hi.wings.ai" target="_blank">Slack</a></p>
      </div>
      <div class="footer-column-item footer-column--right">
        <div class="footer-column-title">{{'Information Resources' | translate}}</div>
        <p>{{'Want to write about us? Send email to' | translate}} <a href="mailto:domi@wings.ai">domi@wings.ai</a> {{'and' | translate}} <a href="mailto:sebastian@wings.ai">sebastian@wings.ai</a>.</p>
        <p><a href="https://bounty.wings.ai/" target="_blank">Bounty Portal</a></p>
        <p><a href="https://blog.wings.ai" target="_blank">Blog</a></p>
        <br>
        <div class="footer-column-title">{{'Technical Resources' | translate}}</div>
        <p>{{'Want to kickstart a DAO? Send email to' | translate}} <a href="mailto:domi@wings.ai">domi@wings.ai</a> and <a href="mailto:sebastian@wings.ai">sebastian@wings.ai</a>.</p>
        <p><a href="https://github.com/WingsDAO" target="_blank">{{'Source code on GitHub' | translate}}</a></p>
        <p><a href="https://wings.zendesk.com/hc/en-us" target="_blank">FAQ</a></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93092448-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
