@import 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i';

body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	background-color: #f6f6f6;
}

.container {
	width: 1000px;
	margin: auto;
}

.clear {
	clear: both;
}

.container-inner {
	width: 920px;
	margin: auto;
}

.title {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	&--light {
		color: #1e1e76;
	}
	&--dark {
		color: #fff;
	}
}

.button {
	text-align: center;
	padding-top: 60px;
	a {
		border-radius: 9px;
		padding: 24px 101px;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
	}
	&--dark {
		a {
			background-color: #4dc0d8;
			color: #fff;
			&:hover {
				background-color: #4cdaf8;
			}
		}
	}
	&--light {
		a {
			border: 1px solid #4dc0d8;
			color: #4dc0d8;
			&:hover {
				background-color: #4dc0d8;
				color: #fff;
			}
		}
	}
}

.text-center {
  text-align: center;
}

.link {
	text-align: center;
	border-bottom: 1px dashed #14176b;
	color: #191d77;
	font-weight: 300;
	font-size: 14px;
	padding-bottom: 1px;
	text-decoration: none;
	&:hover {
		border: none;
	}
}

strong {
  font-weight: bold;
}