.chat {
	min-height: 625px;
	background-image: url(../assets/images/bg-main.jpg);
	background-size: cover;
	position: relative;
	overflow: hidden;
	&-item {
		color: #fff;
		min-height: 625px;
		position: relative;
		&-dialog {
            top: 130px;
			padding-left: 70px;
			position: absolute;
            overflow: hidden;
            height: 480px;
            width: 310px;

            ul {
              position: absolute;
              bottom: 0px;
              width: 100%;

              li {
                display: block;
              }
            }

			&-block {
				clear: both;
				width: 285px;
				margin-bottom: 35px;
				display: inline-block;
				display: none;
				vertical-align: bottom;
				&.left {
					position: relative;
					.chat-item-dialog-photo {
                      position: absolute;bottom: 0px;left: 0;
                      img {
                        width: 38px; height: 38px;
                      }
                    }
					.chat-item-dialog-message {display: inline-block;text-align: left;
						margin-left: 50px;
						position: relative;
						&:after {
							content: "";
							width: 12px;
							height: 7px;
							position: absolute;
							display: block;
							background-image: url(../assets/images/dialog.png);
							border-right: none;
							left: -1px;
							bottom: 0px;
						}
					}
				}
				&.right {
					position: relative;
					text-align: right;
					.chat-item-dialog-photo {position: absolute;bottom: 0px;right: 0;}
					.chat-item-dialog-message {display: inline-block;text-align: right;}
					.chat-item-dialog-message {
						margin-left: 0;
						margin-right: 50px;
						text-align: left;
						position: relative;
						&:after {
							content: "";
							width: 12px;
							height: 7px;
							position: absolute;
							display: block;
							background-image: url(../assets/images/dialog_2.png);
							border-right: none;
							right: -1px;
							bottom: 0px;
						}
					}
				}
			}
			&-message {
				background-color: #2e7da0;
				padding: 10px 20px;
				margin-left: 20px;
				max-width: 225px;
				font-size: 16px;
				font-weight: 300;
				line-height: 22px;
				border-radius: 16px;
			}
		}
		&--0 {
			background-image: url(../assets/images/chat_phone.png);
			background-repeat: no-repeat;
			background-position: right top;
		}
		&--1 {
			background-image: url(../assets/images/diagramm_1.png);
			background-repeat: no-repeat;
			background-position: right top;
		}
		&--2 {
			background-image: url(../assets/images/diagramm_2.png);
			background-repeat: no-repeat;
			background-position: right top;
			.chat-item-label {
				&--2 {
					text-align: right;
					top: 90px;
					left: -27px;
				}
				&--3 {
					text-align: right;
					left: -5px;
					top: 181px;
				}
			}
		}
		&--3 {
			background-image: url(../assets/images/diagramm_3.png);
			background-repeat: no-repeat;
			background-position: right top;
			.chat-item-label {
				&--2 {
					top: 180px;
					left: -5px;
				}
				&--3 {
					left: 357px;
					top: 50px;
				}
				&--4 {
					left: 350px;
					top: 200px;
				}
			}
		}
		&--4 {
			background-image: url(../assets/images/diagramm_4.png);
			background-repeat: no-repeat;
			background-position: right top;
		}
		&-left {
			padding-left: 85px;
			padding-top: 110px;
			width: 400px;
			float: left;
		}
		&-right {
			width: 465px;
			float: right;
			&-title {
				text-align: center;
				padding-top: 105px;
				font-weight: 300;
				font-size: 18px;
				color: rgba(255,255,255,0.8);
			}
		}
		&-lables {
			position: relative;
		}
		&-label {
			position: absolute;
			display: none;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			color: rgba(255,255,255,0.8);
			span {
				font-weight: 500;
			}
			&--1 {
				display: block;
				left: 30px;
				top: 32px;
			}
			&--2 {
				display: block;
				left: -7px;
				top: 115px;
			}
			&--3 {
				display: block;
				left: -17px;
				top: 197px;
			}
			&--4 {
				display: block;
				left: 357px;
				top: 50px;
			}
		}
	}
	&-title {
		font-size: 36px;
		font-weight: 300;
		padding-bottom: 20px;
		line-height: 48px;
	}
	&-text {
		line-height: 28px;
		font-size: 18px;
		font-weight: 300;
        height: 190px;
	}
	&-button {
		margin-top: 20px;
		a {
			display: inline-block;
			padding: 23px 20px;
			border: 2px solid #da6f57;
			border-radius: 10px;
			color: #fff;
			text-decoration: none;
			font-size: 16px;
			text-transform: uppercase;
			&:hover {
				background-color: #da6f57;
			}
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 30px;
		left: 85px;
		margin-right: 0;
		button {
			background-color: #a0b8bc;
		}

	}
}


@media screen and (max-width: 1000px) {
	.chat-item-left {
		padding-left: 25px;
	}


  .chat-item-dialog {
    left: 520px;
    top: 150px;
  }
}


@media screen and (max-width: 900px) {
  .chat-item--1 {
    background-image: url(../assets/images/diagramm_1_m.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
  .chat-item--2 {
    background-image: url(../assets/images/diagramm_2_m.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
  .chat-item--3 {
    background-image: url(../assets/images/diagramm_3_m.png);
    background-repeat: no-repeat;
    background-position: 37% -17px;
  }
  .chat-item--4 {
    background-image: url(../assets/images/diagramm_4_m.png);
    background-repeat: no-repeat;
    background-position: 20% 0;
  }
  .chat-item-left {
    width: 90%;
    margin: auto;
    float: none;
    z-index: 9999;
    text-align: center;
    position: relative;
    padding-left: 0;
    padding-top: 365px;
    padding-bottom: 100px;
  }
  .chat-item-right {
    position: absolute;
    top: -56px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding-top: 150px;
  }

  .chat-item-left.phone {
    float: left;
    width: 300px;
    padding-top: 150px
    padding-bottom: 0px;
  }
  .chat-item-dialog {
    left: 180px;
    top: 200px;
  }
  .chat .slick-dots {
    bottom: 30px;
    left: 0px;
    right: 0px;
  }
}


@media screen and (max-width: 700px) {

  .chat-item-dialog {
    left: 120px;
    top: 200px;
  }

	.chat-item--3 {
		background-image: url(../assets/images/diagramm_3_m.png);
		background-repeat: no-repeat;
		background-position: 34% -17px;
	}
	.chat-item--3 .chat-item-label--3 {
		left: 380px;
	}
	.chat-item--3 .chat-item-label--4 {
		left: 380px;
	}
	.chat-item--4 {
		background-position: 10% 0;
	}
}
@media screen and (max-width: 600px) {
	.chat-item--4 {
		background-position: -70px 0;
	}

  .chat-item-left {
    width: 90%;
    margin: auto;
    float: none;
    z-index: 9999;
    text-align: center;
    position: relative;
    padding-left: 0;
    padding-top: 365px;
    padding-bottom: 100px;
  }

  .chat-item-dialog {
    left: 90px;
    top: 200px;
  }
}
@media screen and (max-width: 500px) {
	.chat-item {background: none;}
	.chat-item-right {display: none;}
	.chat-item-left {padding-top: 50px;}
}