.future {
	background-color: #f6f6f6;
	&-content {
		background-color: #fff;
		border: 1px solid #b6b7ca;
		border-radius: 5px;
		padding: 30px 50px;
		position: relative;
		margin-top: 20px;
		margin-bottom: 80px;
		&:after {
			bottom: 100%;
			left: 41%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-bottom-color: #fff;
			border-width: 17px;
			margin-left: -17px;
		}
		&:before {
			bottom: 100%;
			left: 41%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(194, 225, 245, 0);
			border-bottom-color: #b6b7ca;
			border-width: 18px;
			margin-left: -18px;
		}
	}
	&-item {
		margin-bottom: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid #b8b9cb;
		clear: both;
		overflow: auto;
		&--left {
			text-align: left;
			.future-item-image {float: left;margin-right: 30px;padding-left: 60px;}
			.future-item-text {width: 500px;float: left;}
		}
		&--right {
			.future-item-image {float: right;margin-left: 30px;padding-right: 40px;}
			.future-item-text {width: 500px;float: right;text-align: left;}
			.future-item-title {width: 500px;float: right;text-align: left;}
		}
		&--1 {
			.future-item-title {padding-top: 40px;}
		}
		&--3 {
			.future-item-title {padding-top: 20px;}
		}
		&--4 {
			.future-item-title {padding-top: 10px;}
		}
		&-image {
			width: 210px;
			text-align: center;
		}
		&--last {
			border: none;
			padding-bottom: 20px;
			margin-bottom: 0;
		}
		&-title {
			font-size: 18px;
			font-weight: bold;
			color: #1e1e76;
			padding-bottom: 15px;
		}
		&-text {
			color: #191d77;
			font-size: 16px;
			font-weight: 300;
			line-height: 23px;
		}
	}
}


#tab2 {
	&:after {
		left: 60%!important;
	}
	&:before {
		left: 60%!important;
	}
}