@media screen and (max-width:1600px) {
	.main {
		&-figure {
			width: 200px;
			height: 300px;
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
}

@media screen and (max-height:800px) {
	.main {
		height: 905px;
	}
} 

@media screen and (max-width:1000px) {
	.main {
		height: 905px;
		&-content {
			margin: 100px auto auto;
		}
	}
	.top {
		&-logo {
			margin-left: 20px;
			margin-right: 20px;
		}
		&-menu {
			position: absolute;
			top: 80px;
			width: 100%;
			text-align: center;
		}
	}
	.container {
		width: 100%;
	}
	.platform {
		&-list {
			width:90%;
			margin: auto;
		}
		&-item {
			width: 40%;
			margin-left: 5%;
			margin-right: 5%;
		}
	}
	.team {
		&-list {
			width:90%;
			margin: auto;
		}
		&-item {
			width: 40%;
			margin-left: 5%;
			margin-right: 5%;
		}
	}
	.chat {
		background-size: cover;
		&-figure {
			width: 200px;
			background-size: 100%;
			height: 300px;
			background-repeat: no-repeat;
		}
	}
	.partners {
		&-list {
			width: 70%;
		}
	}
	.press {
		&-list {
			width: 80%;
			margin: auto;
		}
		&-download {
			margin-right: 20px;
		}
	}
} 


@media screen and (max-width:900px) {
	.main {
		&-book {
			margin: auto;
			float: none;
			margin-top: 160px;
			padding-right: 170px;
		}
		&-content {
            width: auto;
			float: none;
			margin: auto;
            margin-top: 200px;

            &-subtitle {
              font-size: 18px;
            }
		}
	}
	.future {
		&-content {
			width: 80%;
			margin: auto;
			margin-top: 30px;
			margin-bottom: 40px;
		}
		&-item {
			&-image {
				float: none!important;
				margin: auto!important;
				text-align: center!important;
				padding-left: 0 !important;
				padding-right: 0 !important;
				width: 100%!important;
				text-align: center !important;
			}
			&-title {
				text-align: center;
				float: none !important;
				width: 100%!important;
				text-align: center !important;
				padding-top: 10px !important;
				padding-bottom: 10px !important;
			}
			&-text {
				text-align: center;
				margin: auto;
				float: none!important;
				width: 100%!important;
				text-align: center !important;
			}
		}
	}
	.platform {
		&-text {
			width: auto;
			height: 150px;
		}
	}
	.info {
		padding-bottom: 40px;
		background-size: cover;
		text-align: center;
		min-height: 855px;
		&-item {
			width: 320px;
			margin: auto;
			float: none;
			height: auto;
			margin-bottom: 40px!important;
			&-icon {
				float: none;
				margin-right: 0;
			}
			&-right {
				float: none;
			}
			&-desc {
				float: none;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width:761px) {
    .main-form {
      width: 400px;
    }
	.press {
		&-list {
			width: 500px;
		}
		&-name {
			padding-bottom: 30px;
		}
		&-download {
			float: none;
			margin-top: 0;
			text-align: center;
			width: 100%;
			margin-bottom: 50px;
		}
		&-text {
			width: 460px;
		}
	}
	.footer {
		&-column {
			&-item {
				width: 100% !important;
				float: none !important;
				text-align: center !important;
			}
		}
	}
	.top {
		&-menu {
			width: 400px;
			margin: auto;
			left: 0;
			right: 0;
			li {
				margin-bottom: 20px;
			}
		}
	}
	.main {
		&-book {
			padding-left: 0;
			padding-right: 0;
			background-position: -35px 0;
			width: 350px;
		}
	}
	.platform {
		&-item {
			float: none;
			width: 90%;
		}
		&-text {
			height: auto;
			margin-bottom: 30px;
			min-height: 0px;
		}
	}
	.team {
		&-item {
			width: 90%;
			float: none;
			&-desc {
				height: auto;
				margin-bottom: 30px;
			}
		}
	}
	.press {
		&-list {
			width: 90%;
		}
		&-text {
			width: 90%;
		}
	}
	.future {
		&-content {
			width: 80%;
			padding: 5%;
		}
	}
}

@media screen and (max-width:510px) {
	.main {
		&-form {
			width: 300px;
		}
	}
	.top {
		&-menu {
			width: 100%;
		}
		&-userbar {
			padding-right: 20px;
		}
	}
	.tabs {
		&-nav {
			&-item {
				width: 165px;
			}
		}
	}
	.footer {
		background-size: cover;
	}
}

@media screen and (max-width:350px) {
	.main {
		&-form {
			width: 300px;
		}
	}
	.top {
		&-menu {
			width: 260px;
		}
	}
	.main {
		&-book  {
			width: 300px;
			margin-top: 180px;
			background-size: 100%;
			background-position: -25px 0;
		}
	}
	.tabs-nav-item {
		width: 130px;
	}
	.info-item {
		width: 300px;
	}
	.partners-list {
		width: 60%;
		img {
			max-width: 100%;
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.main {
		height: 990px !important;
	}
}

@media (min-width: 640px) and (max-width: 767px) {
	.main {
		height: 990px !important;
	}
}

@media (min-width: 480px) and (max-width: 639px) {
	.main {
		height: 1020px !important;
	}
}

@media (min-width: 320px) and (max-width: 479px) {
	.main-video_content {
		width: 290px;
		height: 170px;
	}
	.main {
		height: 975px!important;
	}
}